@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$text-font: "Ubuntu", sans-serif;

$primary-color: hsl(213, 96%, 18%);
$color: hsl(243, 100%, 62%);
$active-color: hsl(228, 100%, 84%);
$background-color: hsl(206, 94%, 87%);
$error-color: hsl(354, 84%, 57%);

$text-color-1: hsl(231, 11%, 63%);
$text-color-2: hsl(229, 24%, 87%);
$text-color-3: hsl(217, 100%, 97%);
$text-color-4: hsl(231, 100%, 99%);
$text-color-5: hsl(0, 0%, 100%);

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;
