.form {
  padding: 1rem 0rem;
  &-input {
    margin: 2rem 0rem;
    position: relative;
    label {
      color: $primary-color;
    }
    input {
      display: block;
      margin: 0.5rem 0rem;
      font-weight: $font-weight-2;
      padding: 1rem;
      outline: none;
      border-radius: 0.5rem;
      border: 0.1rem solid rgba($text-color-1, 0.7);
      width: 100%;
      font-size: 1rem;
      &.valid {
        color: $primary-color;
        font-weight: $font-weight-3;
        border: 0.1rem solid $primary-color;
      }
      &.invalid {
        font-weight: $font-weight-2;
        border: 0.1rem solid $error-color;
      }
    }
    .error {
      color: red;
      font-weight: $font-weight-2;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }
    .error.active {
      display: block;
    }
  }
}
